@import './presentation/styles/tokens.css';
@import './presentation/styles/transitions.css';

:root {
  font-size: 13px;
  color-scheme: dark;
  color: var(--color-text);
  background: var(--color-bg);
}

@media (min-width: 1024px) {
  :root {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-mono);
  line-height: 1.5;
}
